/* body{
    margin-left: 8%;
    margin-right: 8%;
} */

.consult-cards{
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    /* margin-right: 50px; */
}



.button-all-speciality{
    border-radius: 5px;
    border: 2px solid rgb(0, 208, 255);
    font-size: 18px;   
    text-align: center;
    justify-content: center;
    color: rgb(0, 208, 255);
    background-color: white;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
    margin-right: 60px;
}


.button-all-speciality:hover{
    border-radius: 5px;
    border: 2px solid rgb(0, 208, 255);
    font-size: 18px;     
    text-align: center;
    justify-content: center;
    color: rgb(0, 208, 255);
    background-color: rgba(225, 252, 255, 0.616);
    font-weight: 500;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.1s;
}





.consult-cards-about{
    font-size: 16px;
    margin-left: 50px;
    display:flex;
    justify-content: space-between;
}


.consult-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.consult-card-container{
    width: 125px;
    margin :4% ;
}

.consult-card-image img{
    width: 125px;
    height: 125px;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.consult-card-symptoms{
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}


.consult-now{
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 0.5rem;
}


.consult-now a{
    color: rgb(0, 208, 255);
    font-weight: 550;
}