*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}




.search{
    display: flex;
    /* align-self: start; */
    /* justify-content: space-between; */
}

.search-bar-container{
    /* align-items: flex-start; */
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: 0.5px solid black;
    padding: 8px 16px;
}

.search-bar input{
    background: transparent;
    flex :1;
    border:0;
    outline: none;
    padding: 10px 12px;
    font-size: 15px;
    color:#4540ab;
}


::placeholder{
    color: #4540ab;
}


.search-bar button img{
    width: 10px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #4540ab;
    cursor: pointer;
}