.search-content {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}



.c-omni-wrapper {
    width: 712px;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: -28px;
} 




.c-omni {
    width: 100%;
    color: #414146;
    font-size: 14px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;

}




.c-omni-container--desktop .c-omni__wrapper {
    float: left;
    margin: 0;
    width: 50%;
}


.c-omni__wrapper {
    position: relative;
}
.u-clearfix {
    zoom: 1;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

@media (max-width: 500px){
    .c-omni-container--desktop .c-omni__wrapper{
        width: 100%;
    }
 }
.u-padding--20__bottom {
    padding-bottom: 20px;
}
.u-padding--20__top {
    padding-top: 20px;
}

.icon-ic_search:before {
    content: "\E966";
}


.icon-ic_location:before {
    content: "\E984";
}




.c-omni-container--desktop .c-omni__wrapper--keyword .c-omni-searchbox {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
.c-omni-searchbox--small {
    height: 40px;
}
.c-omni-searchbox {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    padding: 6px 20px 5px 7px;
    color: inherit;
    cursor: pointer;
    outline: 0;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: white;
}


.c-omni-searchbox--small {
    height: 40px;
}

.c-omni-searchbox_wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid #b4b4be;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}